<!DOCTYPE html>
<html>
    <head>
        {% include 'partials/head.html' %}

    </head>
    <body>
        <h2>{{title}}</h2>

        <section id="main-area">
            <div id="message-area">{{msg}}</div>
  	        <div id="working-area">

   	        	<form id="PutSessionInfo">
   		             <input type="button" value ="Send SessionInfo"></input>
   	        	</form>
   	        	
   	        	<form id="PutEventsInfo">
   		             <input type="button" value ="Send EventsInfo"></input>
   	        	</form>
   				
   				<form id="PutPlayerPos">
   		             <input type="button" value ="Send PlayerPos"></input>
   	        	</form>
   				
       		</div>
       				
        </section>

        <script src="scripts/admin.js"></script>
    </body>
</html>
