<!DOCTYPE html>
<html>
    {% include 'partials/head.html' %}
    
    <body>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>SNC: Heatmaps</h3>
          </div>
        </div>

        <div class="heatmap-options font-heavy">
          <div class="row">
            <div class="col-4">
              <div class="row session-key-row">
                <div class="col-6">

                  <!--FIXME change class="sessionKeyComboBox" to use id instead -->
                  <select title="Select Session" class="sessionKeyComboBox" id="">
                    <option value="" disabled selected hidden>
                      Choose Session Key
                    </option>
                  </select>
                </div>

                <div class="col-6">

                  <!--FIXME change the id's name-->
                  <input type="button" id="GetSessionInfo" value="Select Session">
                </div>
              </div>
            </div>

            <div class="col-4">
              <div class="row session-key-row">
                <div class="col-6">Data Display Combo Box</div>
                <div class="col-6">Data Display Confirm</div>
              </div>
            </div>

            <div class="col-4">
              <div class="row session-key-row">
                <div class="col-6">Player Selecion Combo Box</div>
                <div class="col-6">Player Selection Confirm</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row heatmap-map">
          <div class="col-12">

          </div>
        </div>
      </div>

      {% include 'partials/footer.html' %}
    </body>
</html>
