<!DOCTYPE html>
<html>
    {% include 'partials/head.html' %}

    <body>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h3>SNC: Heatmaps</h3>
          </div>
        </div>

        <div class="heatmap-options font-heavy">
          <div class="row">
            <div class="col-4">
              <div class="row session-key-row">
                <select class="col-12" title="Select Session" id="sessionKeyComboBox">
                  <option value="" disabled selected hidden>
                    Choose Session Key...
                  </option>
                </select>
              </div>
            </div>

            <div class="col-4">
              <div class="row session-key-row">
                <select class="col-12" title="Select Event" id="eventInfoComboBox">
                  <option value="" disabled selected hidden>
                    Choose event...
                  </option>
                  <option value="primary">Primary Fire</option>
                  <option value="secondary">Secondary Fire</option>
                  <option value="boost">Boost</option>
                  <option value="death">Death</option>
                  <option value="pos">Player Location</option>
                </select>
              </div>
            </div>
          </div>
        </div>

        <div class="row heatmap-map">
          <div id="gamemap"></div>
          <div id="gamemap-visual-filter"></div>
        </div>
      </div>

      {% include 'partials/footer.html' %}
    </body>
</html>
